<p id="notice"><%= notice %></p>
<% if params[:search].present? %>
<h3> <%= @blogs.count%> Results found.</h3>
<%end %>

<h1>blogs</h1>

<table>
  <thead>
    <tr>

      <th>Title</th>

      <th>description</th>

      <th>Image</th>
      <th>category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @blogs.each do |blog| %>

      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
       
        <td><%= image_tag blog.image,:height=>"100", :width=>"100" %></td>

        <td>
         <%if blog.categry_id.present? %> 
         <%= Category.find(blog.categry_id).name %> 
        <% end %> 
        <td><%= link_to 'Show', blog %></td>
       
         <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
        <%end%>
  </tbody>
</table>

<%= link_to 'New Blog', new_blog_path %>
