

<% if params[:search].present? %>
<h3> <%= @blogs.count%> Results found.</h3>
<%end %>

<h1>blogs list</h1>

<%= link_to 'New Blog', new_blog_path %>

<table>
  <thead>
    <tr>

      <th>Title</th>

      <th>description</th>

      <th>category</th>

      <th>Image</th>

      <th>video</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @blogs.each do |blog| %>

      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td>
         <%if blog.categry_id.present? %> 
         <%= Category.find(blog.categry_id).name %> 
        <% end %>
        </td>
        <td><%#= image_tag blog.image,:height=>"100", :width=>"100" %></td>
        <td><%#= video_tag blog.video,:height=>"100", :width=>"100" %></td>
        <td><td><%= image_tag blog.image_url(:thumb) if blog.image? %></td></td>
        
        
         <td><%= video_tag blog.video,:controls =>true %></td>
        
        <td><%= link_to 'Show', blog %></td>
       
         <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
        <%end%>
  </tbody>
</table>

<%= link_to 'New Blog', new_blog_path %>
