
  <%= nested_form_for @blog do |f| %>
<p>
<%=f.label :title%>
<%=f.text_field :title%>
</p>
<p>
<%=f.label :description%>
<%=f.text_field :description%>
</p>

<p>

 <table id="images"> 
  <%= f.fields_for :images, :wrapper => false do |image_form| %> 
    <tr class="fields"> 
      <td><%= image_form.file_field :image %></td> 
      <td><%= image_form.link_to_remove "Remove this image" %></td> 
    </tr> 
  <% end %> 
</table> 
</p>
<p><%= f.link_to_add "Add a image", :images, "data-target" => "#images" %></p> 
 
<p>
<%f.label :video%>
<%=f.file_field :video%>
</p>
<%= f.select(:categry_id, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'Select Category') %> 
<p>
<%=f.submit %>
</p>
<%end%>

<%= link_to 'Back', blogs_path %>
