 <p> 
  <strong>Title:</strong> 
  <%= @blog.title %> 
</p> 

    <p> 
   <strong>description:</strong> 
  <%= @blog.description %> 
   </p> 
  <p> 
  <strong>image:</strong> 
   <%@blog.images.each do |image|%> 
    <%= image_tag image.image, :height=>"250", :width=>"250" %>
    <%end%> 
   
    <strong>video:</strong> 
  <%= video_tag @blog.video, :controls =>true %> 
  </p> 

      <h2>Comments</h2>
      <%= render @blog.comments%>

       <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  
    <%= link_to 'Back', blogs_path %>
